<figure>
  <a class="sketch" href="{{index}}/"><img src="{{index}}/example.jpg" alt="{{alt}}"></a>
  <figcaption>
    <div class="title">{{title}}</div>
    <div class="date">{{date}}</div>
  </figcaption>
</figure>
